@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-menu-item-selected{
    background-color: rgb(160, 136, 0) !important;
}

.ant-btn-color-primary{
    background-color:  rgb(160, 136, 0) !important ;
}


.ant-spin-dot-holder{
   color:  rgb(160, 136, 0) !important ;
   transform: scale(3);
}
